<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Rooms</ion-title>
    </ion-navbar>
</ion-header>

<ion-content text-center>
    <ngx-loading [show]="(state$ | async) === PageStates.Loading"></ngx-loading>

    <room-list 
        *ngIf="(state$ | async) === PageStates.List" 
        [rooms]="rooms$ | async" 
        (edit)="onEdit($event)"
        (remove)="onDelete($event)"
        (join)="onJoin($event)"
    ></room-list>

    <edit-room *ngIf="(state$ | async) === PageStates.Edit" (save)="onCreateNew($event)">
    </edit-room>
</ion-content>