<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Rooms</ion-title>
    </ion-navbar>
</ion-header>

<ion-content text-center>
    <button class="btn" (touch)="newRoom()" ion-button round icon-start margin-top text-center color="secondary">
        <ion-icon name="add-circle"></ion-icon>
        add
    </button> {{ state$ | async }}

    <ngx-loading [show]="state$ === PageStates.Loading"></ngx-loading>

    <room-list *ngIf="state$ === PageStates.List"></room-list>

    <edit-room *ngIf="state$ === PageStates.Edit"></edit-room>

</ion-content>