.menu-content {
    .menu-image {
        width: 250px;
        display: block;
        margin: 25px auto;
    }
    .menu-btn {
        width: 250px;
        display: block;
        margin: 25px auto;
    }
}